.checkstyle
.classpath
.project
.settings/
target/
.idea/
*.class
*.jar
*.iml
bin/
*.properties
.gradle

/spacelift

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
/build
/buildSrc/build

*.backup*
