.checkstyle
.classpath
.project
.settings/
target/
.idea/
*.class
*.jar
*.iml
bin/
*.properties
aerogear-unifiedpush-server/
/test-classes
jboss-as-7.1.1.Final*
wildfly-8.1.0.Final*
.repository
aerogear-testing-tools
installations
.gradle
